
*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
* img{
    pointer-events: none;
}
html{
    height: 100%;
}
main > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
nav ul li{
    
   align-self: center;
   list-style: none;
   float: left;
   margin-left: 10px;
}
nav ul li a{
    color: inherit;
    text-decoration: none;
}
nav ul li a:hover{
    color: darkgray;
}
nav ul{
    height: initial;
    border-top-width: 2px;
    border-color: solid black;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;

}
/*----------- EST JURID-------------------*/

figure{
    background-image:image-set('img/photo_home.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 500px;
    flex-direction: row;
    justify-content: center;
   
}
figure div{
    display: flex;
    text-align: center;
    flex-direction:column;
    justify-content: center;
}
figure div h1{
    font-family: fantasy;
    font-size: 50px;
}
figure div a{
    margin: 0 auto;
    width: 100px;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    border: 2px solid #606060; /* Green */
    
}
section{
    display: flex;
    flex-direction: column;
}

/*------------MAIN-------------------*/
.slider{
    width: 800px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 200px;
    margin-top: 50px;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite ;
    animation-direction: alternate;
   
}
.slider li{
    margin-left: auto;
    list-style: none;
}
.slider div{
    height: 500px;
    width: 800px;
}
.slider img{
    display: none;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left:-100%;}
    45%{margin-left:-100%;}

    50%{margin-left:-200%;}
    70%{margin-left:-200%;}

    75%{margin-left:-300%;}
    100%{margin-left:-300%;}
}
.slider1{
    background-image: image-set('img/foto3_alt.jpg');
    background-size: cover;
}
.slider2{
    background-image: image-set('img/foto6.jpg');
    background-size: cover;
}
.slider3{
    background-image: image-set('img/photo13131313.jpg');
    background-size: cover;
}
.slider4{
    background-image: image-set('img/photo121212121.jpg');
    background-size: cover;
}

/*------------Contact----------------*/

.contact{
    display:flex;
    background-color: #606060;
    height: 400px;
    align-items: center;
    justify-content: center;
}
.contact div{
    margin: 0 auto;
    /* border: 1px solid yellow; */

}
.contact div div{
    display: flex;
    flex-direction: row;
}
.contact div div div{
   /* border: 1px solid yellow; */
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact div div div h5{
 margin-top: 20px;
}
.contact div div div p{
    margin-bottom: 10px;
}
form label{
    width: 400px;
    display: flex;
    flex-direction: column;
}
form{
    margin-left: 50px;
}
form label input,textarea{
    margin-bottom: 10px;
}

/*------------FOOTER----------------*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    background-color: #748092;
    
}
footer a{
    text-decoration: none;
    color: black;
}
footer img{
    display: flex;
    height: 50px;
    margin: 0 auto;
    padding: 0 auto;
}

/*--------container--acc----------------*/

.container_acc{
    display: flex;
    margin: 50px 15%;
    text-align: justify;
}

.photo_acc{
    background-image:image-set('img/photo121212121.jpg');
    background-size: cover; 
}
.container_acc div{
  width: 50%;
  margin: 0 20px;  
}
/*--------container--art----------------*/
.container_art{
    text-align: justify;
    display: flex;
    margin: 50px 15%;
}
.photo_art{
    background-image:image-set('img/photo13131313.jpg');
    background-size: cover; 
    background-position-x: center;
}
.container_art div{
    width: 50%;
    margin: 0 20px;  
}
/*--------container--lab----------------*/

.photo_lab{
    background-image:image-set('img/foto3.jpg');
    background-size: cover;
    background-position-x: center; 
}

/*--------container--penal----------------*/

.photo_penal{
    background-image:image-set('img/foto8.jpg');
    background-size: cover;
    background-position-x: center; 
}
/*--------container--civil----------------*/
.container_civil{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
/*.photo_civil{
    background-image:image-set('img/foto4.jpg');
    background-size: cover;
    background-position-y: center;
   width: 600px;
   height: 400px;
   margin: 0 auto;
}*/
.container_civil{
    display: flex;
    flex-direction: column;
}
.container_civil div{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.container_civil div div{
    display: flex;
    flex-direction: row;
}
.container_civil img{
    width: 400px;
}
.container_civil div div div{
    text-align: justify;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction:column;
}