
*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
@media (min-width: 768px){
.hamburger, .menuppal{display:none;
    background-color: red;}
}
html{
    scroll-behavior: smooth;
}

* img{
    pointer-events: none;
    height: inherit;

}
html{
    height: 100%;
}
main > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
nav ul li{
    
   align-self: center;
   list-style: none;
   float: left;
   margin-left: 10px;
}
nav ul li a{
    color: inherit;
    text-decoration: none;
}
nav ul li a:hover{
    color: darkgray;
}
nav ul{
    height: initial;
    border-top-width: 2px;
    border-color: solid black;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;

}
/*----------- EST JURID-------------------*/

figure{
    background-image:url('img/photo_home.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 500px;
    flex-direction: row;
    justify-content: center;
   
}
figure div{
    display: flex;
    text-align: center;
    flex-direction:column;
    justify-content: center;
}
figure div h1{
    font-family: fantasy;
    font-size: 50px;
}
figure div a{
    margin: 0 auto;
    width: 100px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    border: 2px solid #606060; /* Green */
    
}
section{
    display: flex;
    flex-direction: column;
}

/*------------MAIN-------------------*/
.slider{
    width: 800px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 200px;
    margin-top: 50px;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite ;
    animation-direction: alternate;
}
.slider li{
    margin-left: auto;
    list-style: none;
}
.slider div{
    height: 500px;
    width: 800px;
}
.slider img{
    display: none;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left:-100%;}
    45%{margin-left:-100%;}

    50%{margin-left:-200%;}
    70%{margin-left:-200%;}

    75%{margin-left:-300%;}
    100%{margin-left:-300%;}
}
.slider ul ul{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px; 
    background-color: #fff6ed;
    opacity: .7;
    text-align: center;
    padding: 25px;
    margin-left: 20px;
}
.slider ul ul li{
    list-style: initial;
    width: 250px;
    text-align: justify;
}
.slider ul ul h4{
    margin-bottom: 20px;
}
.slider1{
    background-image: url('img/photo121212121.jpg');
    background-size: cover;
    padding-top: 25px;
    padding-left: 450px;
}
.slider2{  
    background-image: url('img/foto6.jpg');
    background-size: cover;
    padding-top: 25px;
    padding-left: 625px;
}
.slider3{
    background-image: url('img/foto8.jpg');
    background-size: cover;
    padding-top: 25px;
    padding-left: 675px;

}

.slider4{
    background-image: url('img/photo13131313.jpg');
    background-size: cover;
    padding-top: 25px;
    padding-left: 715px;
}






/*------------Contact----------------*/

.contact{
    display:flex;
    background-color: #606060;
    height: 400px;
    align-items: center;
    justify-content: center;
}
.contact div{
    margin: 0 auto;
    /* border: 1px solid yellow; */

}
.contact div div{
    display: flex;
    flex-direction: row;
}
.contact div div div{
   /* border: 1px solid yellow; */
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact div div div h5{
 margin-top: 20px;
}
.contact div div div p{
    margin-bottom: 10px;
}
form label{
    width: 400px;
    display: flex;
    flex-direction: column;
}
form{
    margin-left: 50px;
}
form label input,textarea{
    margin-bottom: 10px;
}

/*------------FOOTER----------------*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    background-color: #748092;
    
}
footer a{
    text-decoration: none;
    color: black;
}
footer img{
    display: flex;
    height: 50px;
    margin: 0 auto;
    padding: 0 auto;
}

/*--------container--acc----------------*/

.container_acc{
    display: flex;
    margin: 50px 15%;
    text-align: justify;
}

.photo_acc{
    background-image:url('img/photo121212121.jpg');
    background-size: cover; 
}
.container_acc div{
  width: 50%;
  margin: 0 20px;  
}
/*--------container--art----------------*/
.container_art{
    text-align: justify;
    display: flex;
    margin: 50px 15%;
}
.photo_art{
    background-image:url('img/photo13131313.jpg');
    background-size: cover; 
    background-position-x: center;
}
.container_art div{
    width: 50%;
    margin: 0 20px;  
}
/*--------container--lab----------------*/

.photo_lab{
    background-image:url('img/foto3.jpg');
    background-size: cover;
    background-position-x: center; 
}

/*--------container--penal----------------*/

.photo_penal{
    background-image:url('img/foto8.jpg');
    background-size: cover;
    background-position-x: center; 
}
/*--------container--civil----------------*/
.container_civil{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.container_civil{
    display: flex;
    flex-direction: column;
}
.container_civil div{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.container_civil div div{
    display: flex;
    flex-direction: row;
}
.container_civil img{
    width: 400px;
}
.container_civil div div div{
    text-align: justify;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction:column;
}


/*-------------RESPONSIS DESING------------------*/

@media (max-width: 768px){

    main nav{display: none;}    
    figure{
        height: 500px;
    }
    figure div h1{
        font-family: fantasy;
        font-size: 40px;
    text-shadow: 1px 2px #999;

    }

figure div a{
    font-size: 30px;
    width: 160px;
    margin-top: 30px;
}
.slider{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.slider div{
    height:400px;
    width: 100vw;
}
.slider ul li{
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px #999;
}
.slider ul ul li{
    display: none;
   
}
.slider ul ul{
    opacity: 9;
    background-color: transparent;
    display: inline;
    width: 400px;
    justify-content: center;
}
.slider1,.slider2,.slider3,.slider4{
    padding-left: 0px;
    padding-top: 150px;
}
.contact{
    display: flex;
}
.contact div div{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center ;
}
.contact div div h1{
    font-size: 30px;
}
form{
    margin-left: 0px;
    margin-top: 20px;
}
.contact div div div{
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    align-items: baseline;
    
}
.contact div div div p, h5{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1em;
}
form textarea{
    margin-bottom: 10px;
    height: 100px;

}



/*-----------MENU HAMBURGESA------------*/
.hamburger{
	position:fixed;
  background-color:transparent;
	right:50px;
	top:50px;
	height:50px;
	width:50px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:black;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
    display: flex;
  margin:0;padding:0;
  border: 0;
  flex-direction: column;
}
.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	color:nav-color-text;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
  color:#369;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
  text-decoration:none;
  color:#369;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#333;
}

}
@media (max-width: 768px){
.container_acc{
    display: flex;
    margin: 30px auto;
    flex-direction: column;
}
.photo_acc{
    height: 300px;
    width: 100%;
}
.container_acc div{
    width: 90%;
    margin: 0 auto;
}
.container_art{
    display: flex;
    margin: 30px auto;
    flex-direction: column;
}
.photo_art{
    height: 300px;
    width: 100%;
}
.container_art div{
    width: 90%;
    margin: 0 auto;
}

.photo_penal{
    height: 300px;
    width: 100%;
}
.photo_lab{
    height: 300px;
    width: 100%;
}
.container_civil{
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    width: 95%;
}
.container_civil div div{
    display: flex;
    flex-direction: column-reverse;
}
.container_civil img{
    width: 90%;
    margin: 0 auto;
}





}